discord.py[voice] @ git+https://github.com/rapptz/discord.py
aiohttp >= 3.8.5
chardet~=3.0.4
idna~=2.10
multidict~=4.7.6
urllib3~=1.26.5
humanize~=3.9.0
jishaku~=2.5
python-slugify[unidecode]~=4.0.1
mcstatus~=5.1.4

SpeechRecognition==3.10.0
numba==0.57.0rc1
openai-whisper==20230314
pydub==0.25.1
soundfile==0.12.1

avwx-engine
xmltodict
geomag @ git+https://github.com/mralext20/geomag
pytz
yt-dlp
emoji-data
httpx
feedparser
aiomqtt
async-gTTS
SQLAlchemy~=2.0.0
alembic
psycopg2
asyncpg
python-dotenv