discord.py
aiohttp~=3.6.2
aiosqlite~=0.15.0
certifi~=2020.6.20
chardet~=3.0.4
idna~=2.10
multidict~=4.7.6
urllib3~=1.25.10
yarl~=1.5.1
asyncpg~=0.21.0
humanize~=2.5.0
xmltodict~=0.12.0
jishaku~=1.19.0.194
youtube_dl
