git+https://github.com/rapptz/discord.py#egg=discord.py[voice]
aiohttp~=3.7.4
aiosqlite~=0.15.0
chardet~=3.0.4
idna~=2.10
multidict~=4.7.6
urllib3~=1.26.5
humanize~=3.9.0
xmltodict~=0.12.0
jishaku~=2.5
python-slugify[unidecode]~=4.0.1
avwx-engine~=1.6.5
mcstatus~=5.1.4

SpeechRecognition==3.10.0
numba==0.57.0rc1
openai-whisper==20230314
pydub==0.25.1
soundfile==0.12.1

git+https://github.com/mralext20/geomag#egg=geomag
pytz
yt-dlp
emoji-data
httpx
feedparser
asyncio-mqtt
async-gTTS